{% load static %}

<footer class="footer">
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link" href="#">
        <a href="index.html"><img id='brand-footer' src="{% static 'core/images/Picture1.png' %}" alt="logo"></a>
    </li>
  </ul>
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link" href="#">
        <a href="#"><i class="bi bi-facebook footer-icons"></i></a>
    </li>
    <li>
      <a href="#"><i class="bi bi-twitter footer-icons"></i></a>
    </li>
    <li>
      <a href="#"><i class="bi bi-instagram footer-icons"></i></a>
    </li>
    <li>
      <a href="#"><i class="bi bi-youtube footer-icons align"></i></a>
    </li>
  </ul>
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Sobre</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Dúvidas</a></li>
    <li class="menu__item align"><a class="menu__link" href="#">Contato</a></li>
  </ul>
  <p>&copy;2023 DESAPEGA.COM</p>
</footer>