{% load static %}

<div id="header-wrap">
  <div class="top-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="social-links">
            <ul>
              <li>
                <a href="#"><i class="bi bi-facebook icon-size"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-twitter icon-size"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-youtube icon-size"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-instagram icon-size"></i></a>
              </li>
            </ul>
          </div>
          <!--social-links-->
        </div>
        <div class="col-md-6">
          <div class="right-element">
            <a href="{% url 'login' %}" class="user-account for-buy"
              ><i class="fa-solid fa-user"></i><span>Conta</span></a
            >
            <a href="{% url 'CheckoutCart' %}" class="cart for-buy"
              ><i class="fa-solid fa-cart-shopping"></i
              ><span>Carrinho: (0$)</span>
            </a>

            <div class="action-menu">
              <div class="search-bar">
                <a
                  href="#"
                  class="search-button search-toggle"
                  data-selector="#header-wrap"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
                <form role="search" method="get" class="search-box">
                  <input
                    class="search-field text search-input"
                    placeholder="Search"
                    type="search"
                  />
                </form>
              </div>
            </div>
          </div>
          <!--top-right-->
        </div>
      </div>
    </div>
  </div>
  <!--top-content-->

  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="main-logo">
            <a href="#"
              ><img
                id="brand"
                src="{% static 'core/images/Logo.png' %}"
                alt="logo"
            /></a>
          </div>
        </div>

        <div class="col-md-10">
          <nav id="navbar">
            <div class="main-menu stellarnav">
              <ul class="menu-list">
                <li class="menu-item active">
                  <a href="{% url 'homepage' %}" data-effect="Home">Home</a>
                </li>
                <li class="menu-item">
                  <a href="#about" class="nav-link" data-effect="About">Sobre</a
                  >
                </li>
                <li class="menu-item has-sub">
                  <a href="#pages" class="nav-link" data-effect="Pages">Categorias</a>

                  <ul>
                    <li><a href="blog.html">Acessórios</a></li>
                    <li class="active"><a href="about.html">Eletrônicos</a></li>
                    <li><a href="styles.html">Esporte</a></li>
                    <li><a href="single-post.html">Moda</a></li>
                    <li><a href="single-post.html">Móveis</a></li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="#contact" class="nav-link" data-effect="Contact">Contato</a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'create_product' %}" class="nav-link" data-effect="Contact">Publicar</a>
                </li>
              </ul>

              <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
