{% load static %}
<nav id="navbar_id" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#"> <img src="{% static 'core/images/NavIcon1.png' %}" alt="Logo-da-empresa" id="brand"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Publicar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-person icone"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Cadastrar</a></li>
              <hr>
              <li><a class="dropdown-item" href="{% url 'login' %}">Entrar</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Busque no desapega" aria-label="Search">
          <button class="btn Nav-button" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </div>
  </nav>