{% extends "layouts/main.html" %} {% block content %}

<div class="ContainerAllProducts">
    <div class="tab-content">
        <div id="all-genre" data-tab-content class="active">
            <div class="row">
                <div class="col-md-3">
                    <figure class="product-style">
                        <img src="https://m.media-amazon.com/images/I/4122x7ACRRL._AC_SX679_.jpg" alt="Books"
                            class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no
                            Carrinho</button>
                        <figcaption>
                            <h3>Produto 1</h3>
                            <p>Fornecedor</p>
                            <div class="item-price">R$ 40.00</div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-3">
                    <figure class="product-style">
                        <img src="https://m.media-amazon.com/images/I/61rFUJfTUTL._AC_SX679_.jpg" alt="Books"
                            class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no
                            Carrinho</button>
                        <figcaption>
                            <h3>Produto 2</h3>
                            <p>Fornecedor</p>
                            <div class="item-price">R$ 35.00</div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-3">
                    <figure class="product-style">
                        <img src="https://m.media-amazon.com/images/I/61VLf-Hv45L._AC_UL480_FMwebp_QL65_.jpg"
                            alt="Books" class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no
                            Carrinho</button>
                        <figcaption>
                            <h3>Produto 3</h3>
                            <p>Fornecedor</p>
                            <div class="item-price">R$ 40.00</div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-3">
                    <figure class="product-style">
                        <img src="https://m.media-amazon.com/images/I/610Nmqcs1sL._AC_UL480_FMwebp_QL65_.jpg"
                            alt="Books" class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no
                            Carrinho</button>
                        <figcaption>
                            <h3>Produto 4</h3>
                            <p>Fornecedor</p>
                            <div class="item-price">R$ 40.00</div>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="row">

                <div class="col-md-3">
                    <figure class="product-style">
                        <img src="https://m.media-amazon.com/images/I/71ztX9EpxNL._AC_UL480_FMwebp_QL65_.jpg"
                            alt="Books" class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no
                            Carrinho</button>
                        <figcaption>
                            <h3>Produto 5</h3>
                            <p>Fornecedor</p>
                            <div class="item-price">R$ 40.00</div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-3">
                    <figure class="product-style">
                        <img src="https://m.media-amazon.com/images/I/51u76j7yWzL._AC_UL480_FMwebp_QL65_.jpg"
                            alt="Books" class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no
                            Carrinho</button>
                        <figcaption>
                            <h3>Produto 6</h3>
                            <p>Fornecedor</p>
                            <div class="item-price">R$ 40.00</div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-3">
                    <figure class="product-style">
                        <img src="https://m.media-amazon.com/images/I/51E57XX95kL._AC_UL480_FMwebp_QL65_.jpg"
                            alt="Books" class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no
                            Carrinho</button>
                        <figcaption>
                            <h3>Produto 7</h3>
                            <p>Fornecedor</p>
                            <div class="item-price">R$ 40.00</div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-3">
                    <figure class="product-style">
                        <img src="https://m.media-amazon.com/images/I/71zjsFoU7OS._AC_UL480_FMwebp_QL65_.jpg"
                            alt="Books" class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no
                            Carrinho</button>
                        <figcaption>
                            <h3>Produto 8</h3>
                            <p>Fornecedor</p>
                            <div class="item-price">R$ 40.00</div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <figure class="product-style">
                        <img src="https://m.media-amazon.com/images/I/4122x7ACRRL._AC_SX679_.jpg" alt="Books"
                            class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no
                            Carrinho</button>
                        <figcaption>
                            <h3>Produto 1</h3>
                            <p>Fornecedor</p>
                            <div class="item-price">R$ 40.00</div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-3">
                    <figure class="product-style">
                        <img src="https://m.media-amazon.com/images/I/61rFUJfTUTL._AC_SX679_.jpg" alt="Books"
                            class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no
                            Carrinho</button>
                        <figcaption>
                            <h3>Produto 2</h3>
                            <p>Fornecedor</p>
                            <div class="item-price">R$ 35.00</div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-3">
                    <figure class="product-style">
                        <img src="https://m.media-amazon.com/images/I/61VLf-Hv45L._AC_UL480_FMwebp_QL65_.jpg"
                            alt="Books" class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no
                            Carrinho</button>
                        <figcaption>
                            <h3>Produto 3</h3>
                            <p>Fornecedor</p>
                            <div class="item-price">R$ 40.00</div>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-md-3">
                    <figure class="product-style">
                        <img src="https://m.media-amazon.com/images/I/610Nmqcs1sL._AC_UL480_FMwebp_QL65_.jpg"
                            alt="Books" class="product-item">
                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no
                            Carrinho</button>
                        <figcaption>
                            <h3>Produto 4</h3>
                            <p>Fornecedor</p>
                            <div class="item-price">R$ 40.00</div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- -->
            <div class="row">
                <div class="col-md-3">
                  <figure class="product-style">
                    <img src="https://m.media-amazon.com/images/I/4122x7ACRRL._AC_SX679_.jpg"
                      alt="Books" class="product-item">
                    <button type="button" class="add-to-cart"
                      data-product-tile="add-to-cart">Incluir no Carrinho</button>
                    <figcaption>
                      <h3>Produto 1</h3>
                      <p>Fornecedor</p>
                      <div class="item-price">R$ 40.00</div>
                    </figcaption>
                  </figure>
                </div>
        
                <div class="col-md-3">
                  <figure class="product-style">
                    <img src="https://m.media-amazon.com/images/I/61rFUJfTUTL._AC_SX679_.jpg" alt="Books"
                      class="product-item">
                    <button type="button" class="add-to-cart"
                      data-product-tile="add-to-cart">Incluir no Carrinho</button>
                    <figcaption>
                      <h3>Produto 2</h3>
                      <p>Fornecedor</p>
                      <div class="item-price">R$ 35.00</div>
                    </figcaption>
                  </figure>
                </div>
        
                <div class="col-md-3">
                  <figure class="product-style">
                    <img src="https://m.media-amazon.com/images/I/61VLf-Hv45L._AC_UL480_FMwebp_QL65_.jpg"
                      alt="Books" class="product-item">
                    <button type="button" class="add-to-cart"
                      data-product-tile="add-to-cart">Incluir no Carrinho</button>
                    <figcaption>
                      <h3>Produto 3</h3>
                      <p>Fornecedor</p>
                      <div class="item-price">R$ 40.00</div>
                    </figcaption>
                  </figure>
                </div>
        
                <div class="col-md-3">
                  <figure class="product-style">
                    <img src="https://m.media-amazon.com/images/I/610Nmqcs1sL._AC_UL480_FMwebp_QL65_.jpg"
                      alt="Books" class="product-item">
                    <button type="button" class="add-to-cart"
                      data-product-tile="add-to-cart">Incluir no Carrinho</button>
                    <figcaption>
                      <h3>Produto 4</h3>
                      <p>Fornecedor</p>
                      <div class="item-price">R$ 40.00</div>
                    </figcaption>
                  </figure>
                </div>
              </div>
        </div>
    </div>

</div>


{% endblock %}