{% extends "layouts/main.html" %}

{% load static %}

{% block content %}

<section id="billboard">
  <div class="container">
    <div class="main-banner" id="top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="left-content">
              <div class="thumb">
                <div class="inner-content">
                  <h4>Produtos Eletrônicos</h4>
                  <span>Os Melhores Produtos Eletrônicos </span>
                  <div class="main-border-button">
                    <a href="#">Ver Mais</a>
                  </div>
                </div>
                <img src="https://s2.glbimg.com/2LwJ9-tvw7zqX19vtTKCCDtkMLk=/0x0:1920x1080/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2022/N/B/MJb82rR9ChKhUHqbyRxg/cabo-lghtining-8-.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-content">
              <div class="row">
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Feminino</h4>
                        <span>As melhores roupas para as mulheres</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Feminino</h4>
                          <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing
                            elit incid.</p>
                          <div class="main-border-button">
                            <a href="#">Ver Mais</a>
                          </div>
                        </div>
                      </div>
                      <img src="{% static 'core/images/banner-right-image-01.jpg' %}">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Masculino</h4>
                        <span>As melhores roupas para os homens</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Masculino</h4>
                          <p>Renove o seu guarda-roupa com estilo na Prime Store!</p>
                          <div class="main-border-button">
                            <a href="#">Ver Mais</a>
                          </div>
                        </div>
                      </div>
                      <img src="{% static 'core/images/banner-right-image-02.jpg' %}">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Kids</h4>
                        <span>As Melhores roupas para as crianças</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Kids</h4>
                          <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing
                            elit incid.</p>
                          <div class="main-border-button">
                            <a href="#">Ver Mais</a>
                          </div>
                        </div>
                      </div>
                      <img src="{% static 'core/images/banner-right-image-03.jpg' %}">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Accessórios</h4>
                        <span>Os melhores acessórios</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Acessórios</h4>
                          <p>Encontre os melhores acessórios na Prime Store e eleve o estilo dos seus looks!</p>
                          <div class="main-border-button">
                            <a href="#">Ver Mais</a>
                          </div>
                        </div>
                      </div>
                      <img src="{% static 'core/images/banner-right-image-04.jpg' %}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FIM GRID DA OUTRA PAGINA -->
</section>
<!-- Fim Grid -->

<!-- Início icones -->
<section id="client-holder" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="inner-content">
        <div class="logo-wrap">
          <div class="grid">
            <a href="#"><img src="{% static 'core/images/cartao2.png' %}"
                class="Images-warranty" alt="client"></a>
            <a href="#"><img src="{% static 'core/images/headphone2.png' %}"
                class="Images-warranty" alt="client"></a>
            <a  href="#"><img id="truck" src="{% static 'core/images/truck2.png' %}"
                class="Images-warranty" alt="client"></a>
            <a href="#"><img id="hands" src="{% static 'core/images/hands2.png' %}"
                class="Images-warranty" alt="client"></a>
          </div>
        </div><!--image-holder-->
      </div>
    </div>
  </div>
</section>
<!-- Fim Icones -->

<!-- Início Recomendações Prime Store-->
<section id="popular-books" class="bookshelf">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header align-center">
          <h2 class="section-title">Recomendações Prime</h2>
        </div>

        <ul class="tabs">
          <li data-tab-target="#all-genre" class="active tab">Todos</li>
          <li data-tab-target="#Esporte" class="tab">Esporte</li>
          <li data-tab-target="#Eletrônicos" class="tab">Eletrônicos</li>
          <li data-tab-target="#Moda" class="tab">Moda</li>
          <li data-tab-target="#Acessórios" class="tab">Acessórios</li>

        </ul>

        <div class="tab-content">
          <div id="all-genre" data-tab-content class="active">
            <div class="row">

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/4122x7ACRRL._AC_SX679_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 1</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/61rFUJfTUTL._AC_SX679_.jpg" alt="Books"
                    class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 2</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 35.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/61VLf-Hv45L._AC_UL480_FMwebp_QL65_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 3</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/610Nmqcs1sL._AC_UL480_FMwebp_QL65_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 4</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

            </div>
            <div class="row">

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/71ztX9EpxNL._AC_UL480_FMwebp_QL65_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 5</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/51u76j7yWzL._AC_UL480_FMwebp_QL65_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 6</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/51E57XX95kL._AC_UL480_FMwebp_QL65_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 7</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/71zjsFoU7OS._AC_UL480_FMwebp_QL65_.jpg" alt="Books"
                    class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 8</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

            </div>

          </div>
          <div id="Esporte" data-tab-content>
            <div class="row">
              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/71ztX9EpxNL._AC_UL480_FMwebp_QL65_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 5</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/61q8NrzGFdS._AC_UL480_FMwebp_QL65_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 21</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div id="Eletrônicos" data-tab-content>
            <div class="row">
              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/4122x7ACRRL._AC_SX679_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 1</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/61rFUJfTUTL._AC_SX679_.jpg" alt="Books"
                    class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 2</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/61VLf-Hv45L._AC_UL480_FMwebp_QL65_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 3</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/610Nmqcs1sL._AC_UL480_FMwebp_QL65_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 4</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div id="Moda" data-tab-content>
            <div class="row">
              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/51u76j7yWzL._AC_UL480_FMwebp_QL65_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 6</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/51E57XX95kL._AC_UL480_FMwebp_QL65_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 7</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div id="Acessórios" data-tab-content>
            <div class="row">
              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/71M1qdQjZsL._AC_UL480_FMwebp_QL65_.jpg" alt="Books"
                    class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 10</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/71zjsFoU7OS._AC_UL480_FMwebp_QL65_.jpg" alt="Books"
                    class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 9</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/41iXRy3Rc-L._AC_UL480_FMwebp_QL65_.jpg" alt="Books"
                    class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 11</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div><!--inner-tabs-->
    </div>
  </div>
</section>
<!-- Fim Recomendações Prime Store-->

<!-- Início Conheça Nossas Variedades -->
<section id="featured-books">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header align-center">
          <h2 class="section-title">Conheça Nossas Variedades</h2>
        </div>

        <div class="product-list" data-aos="fade-up">
          <div class="row">

            <div class="col-md-3">
              <figure class="product-style">
                <img src="https://m.media-amazon.com/images/I/71t2Qow16tL._AC_UL480_FMwebp_QL65_.jpg"
                  alt="Books" class="product-item">
                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
                <figcaption>
                  <h3>Produto 12</h3>
                  <p>Fornecedor</p>
                  <div class="item-price">R$ 40.00</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-3">
              <figure class="product-style">
                <img src="https://m.media-amazon.com/images/I/61qBNoyGARL._AC_UL480_FMwebp_QL65_.jpg"
                  alt="Books" class="product-item">
                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
                <figcaption>
                  <h3>Produto 13</h3>
                  <p>Fornecedor</p>
                  <div class="item-price">R$ 38.00</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-3">
              <figure class="product-style">
                <img src="https://m.media-amazon.com/images/I/81u+ljPVifL._AC_UL480_FMwebp_QL65_.jpg"
                  alt="Books" class="product-item">
                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
                <figcaption>
                  <h3>Produto 14</h3>
                  <p>Fornecedor</p>
                  <div class="item-price">R$ 45.00</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-3">
              <figure class="product-style">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51tO3g-vKOL._AC_UL450_SR450,320_.jpg"
                  alt="Books" class="product-item">
                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
                <figcaption>
                  <h3>Produto 15</h3>
                  <p>Fornecedor</p>
                  <div class="item-price">R$ 35.00</div>
                </figcaption>
              </figure>
            </div>

          </div><!--ft-books-slider-->
        </div><!--grid-->


      </div><!--inner-content-->
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-wrap align-right">
          <a href="#" class="btn-accent-arrow">Ver Tudo <i
              class="icon icon-ns-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fim Conheça Nossas Variedades -->

<!-- Início Baixaram o Preço -->
<section id="special-offer" class="bookshelf">

  <div class="container">
    <div class="container-title align-center"><h2 class="section-title">Baixaram o Preço</h2></div>
    <div class="row">
      <div class="inner-content">
        <div class="product-list" data-aos="fade-up">
          <div class="grid product-grid">
            <figure class="product-style">
              <img src="https://images-na.ssl-images-amazon.com/images/I/510rQSpiqSL._AC_UL450_SR450,320_.jpg" alt="Books" class="product-item">
              <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
              <figcaption>
                <h3>Produto 16</h3>
                <p>Fornecedor</p>
                <div class="item-price">
                  <span class="prev-price">R$ 50.00</span>R$ 40.00
                </div>
              </figcaption>
            </figure>

            <figure class="product-style">
              <img src="https://m.media-amazon.com/images/I/51DF-14iHzL._AC_SX679_.jpg" alt="Books" class="product-item">
              <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
              <figcaption>
                <h3>Produto 17</h3>
                <p>Fornecedor</p>
                <div class="item-price">
                  <span class="prev-price">R$ 30.00</span>R$ 38.00
                </div>
              </figcaption>
            </figure>

            <figure class="product-style">
              <img src="https://m.media-amazon.com/images/I/41DAKor7yBL._AC_UL480_FMwebp_QL65_.jpg" alt="Books" class="product-item">
              <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
              <figcaption>
                <h3>Produto18</h3>
                <p>Fornecedor</p>
                <div class="item-price">
                  <span class="prev-price">R$ 35.00</span>R$ 45.00
                </div>
              </figcaption>
            </figure>

            <figure class="product-style">
              <img src="https://m.media-amazon.com/images/I/61r4BRkldxL._SX615_BO1,204,203,200_.jpg" alt="Books" class="product-item">
              <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
              <figcaption>
                <h3>Produto 19</h3>
                <p>Fornecedor</p>
                <div class="item-price">
                  <span class="prev-price">R$ 25.00</span>R$ 35.00
                </div>
              </figcaption>
            </figure>

            <figure class="product-style">
              <img src="https://m.media-amazon.com/images/I/71WDJJGQ7pL._AC_UL480_FMwebp_QL65_.jpg" alt="Books" class="product-item">
              <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
              <figcaption>
                <h3>Produto 20</h3>
                <p>Fornecedor</p>
                <div class="item-price">R$ 40.00</div>
              </figcaption>
            </figure>
          </div><!--grid-->
        </div>
      </div><!--inner-content-->
    </div>
  </div>
</section>
<!-- Fim Baixaram o Preço -->

{% endblock %}