{% extends "layouts/main.html" %}

{% load static %}

{% block content %}

<section id="billboard">
  <div class="container">
    <div class="main-banner" id="top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="left-content">
              <div class="thumb">
                <div class="inner-content">
                  <h4>Produtos Eletrônicos</h4>
                  <span>Os Melhores Produtos Eletrônicos </span>
                  <div class="main-border-button">
                    <a href="#">Ver Mais</a>
                  </div>
                </div>
                <img src="https://s2.glbimg.com/2LwJ9-tvw7zqX19vtTKCCDtkMLk=/0x0:1920x1080/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2022/N/B/MJb82rR9ChKhUHqbyRxg/cabo-lghtining-8-.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-content">
              <div class="row">
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Feminino</h4>
                        <span>As melhores roupas para as mulheres</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Feminino</h4>
                          <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing
                            elit incid.</p>
                          <div class="main-border-button">
                            <a href="#">Ver Mais</a>
                          </div>
                        </div>
                      </div>
                      <img src="{% static 'core/images/banner-right-image-01.jpg' %}">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Masculino</h4>
                        <span>As melhores roupas para os homens</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Masculino</h4>
                          <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing
                            elit incid.</p>
                          <div class="main-border-button">
                            <a href="#">Ver Mais</a>
                          </div>
                        </div>
                      </div>
                      <img src="{% static 'core/images/banner-right-image-02.jpg' %}">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Kids</h4>
                        <span>As Melhores roupas para as crianças</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Kids</h4>
                          <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing
                            elit incid.</p>
                          <div class="main-border-button">
                            <a href="#">Ver Mais</a>
                          </div>
                        </div>
                      </div>
                      <img src="{% static 'core/images/banner-right-image-03.jpg' %}">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Accessórios</h4>
                        <span>Os melhores acessórios</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Acessórios</h4>
                          <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing
                            elit incid.</p>
                          <div class="main-border-button">
                            <a href="#">Ver Mais</a>
                          </div>
                        </div>
                      </div>
                      <img src="{% static 'core/images/banner-right-image-04.jpg' %}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FIM GRID DA OUTRA PAGINA -->
</section>
<!-- Fim Grid -->

<!-- Início icones -->
<section id="client-holder" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="inner-content">
        <div class="logo-wrap">
          <div class="grid">
            <a href="#"><img src="{% static 'core/images/cartao2.png' %}"
                class="Images-warranty" alt="client"></a>
            <a href="#"><img src="{% static 'core/images/headphone2.png' %}"
                class="Images-warranty" alt="client"></a>
            <a  href="#"><img id="truck" src="{% static 'core/images/truck2.png' %}"
                class="Images-warranty" alt="client"></a>
            <a href="#"><img id="hands" src="{% static 'core/images/hands2.png' %}"
                class="Images-warranty" alt="client"></a>
          </div>
        </div><!--image-holder-->
      </div>
    </div>
  </div>
</section>
<!-- Fim Icones -->

<!-- Início Recomendações desapega-->
<section id="popular-books" class="bookshelf">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header align-center">
          <h2 class="section-title">Recomendações Desapega</h2>
        </div>

        <ul class="tabs">
          <li data-tab-target="#all-genre" class="active tab">Todos</li>
          <li data-tab-target="#Esporte" class="tab">Esporte</li>
          <li data-tab-target="#Eletrônicos" class="tab">Eletrônicos</li>
          <li data-tab-target="#Moda" class="tab">Moda</li>
          <li data-tab-target="#Imóveis" class="tab">Imóveis</li>

        </ul>

        <div class="tab-content">
          <div id="all-genre" data-tab-content class="active">
            <div class="row">

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/51WIKlEM2EL._AC_SY879_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 1</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://i.ytimg.com/vi/6v-8xEaVUMo/maxresdefault.jpg" alt="Books"
                    class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 2</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 35.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://photos.enjoei.com.br/notebook-samsung-flash-f30-cinza-82557218/828xN/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8zMTc5NzEwNi8zZWM4NTRhNTQwMzlmOGVjOGVjZGRjODFmODg4N2I0Yi5qcGc"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 3</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://photos.enjoei.com.br/impressora-hp-ink-advantage-2700-79016899/1200xN/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8yNjI1ODU5MC80MmU4YmEyYzgwYjAyNzljZTAyNGUyOTBhODY3YTAwYy5qcGc"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 4</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

            </div>
            <div class="row">

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQT_x0FUDyL62LEW2dZWBeSuaptUlKzvKxiOSB4AuT0gfOTtR6H0jdQIhUcJfW6sZoSynxy_hdisBEUl-za5wEPvtcQ4ucmeuVB6ffKuc8&usqp=CAE"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 5</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRlx5urlO5Qh3Gm-Igb4ZZW6-q0Oy9Tuy54gi397kyMORiyndM_7YieFAc-d0Mo0YLeJ1x9zpdK_kdgpHYhKwvDXSoa5CMURhzgu05M91g&usqp=CAE"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 6</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTdGHMvqb3BZlmL5Sg3DDSlMwUkwT-y41KexVb7ITGhRsQWG4D-5QaEUrcekWAv3V_2woag8uI7wxNkXIRK2tfTmkfJ4-BH3bdc2cqpSi0&usqp=CAE	"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 7</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://img.olx.com.br/images/24/243323144597154.jpg" alt="Books"
                    class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 8</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

            </div>

          </div>
          <div id="Esporte" data-tab-content>
            <div class="row">
              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQT_x0FUDyL62LEW2dZWBeSuaptUlKzvKxiOSB4AuT0gfOTtR6H0jdQIhUcJfW6sZoSynxy_hdisBEUl-za5wEPvtcQ4ucmeuVB6ffKuc8&usqp=CAE"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 5</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://photos.enjoei.com.br/chuteira-nike-original-otimo-estado-59375825/1200xN/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8xNzE1NjY0Ni82MTY0NzFjYWIyMWFkYWRiMDJjZmRlNTRkODFiMTUwMS5qcGc"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 9</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div id="Eletrônicos" data-tab-content>
            <div class="row">
              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://m.media-amazon.com/images/I/51WIKlEM2EL._AC_SY879_.jpg"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 1</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://i.ytimg.com/vi/6v-8xEaVUMo/maxresdefault.jpg" alt="Books"
                    class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 2</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://photos.enjoei.com.br/notebook-samsung-flash-f30-cinza-82557218/828xN/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8zMTc5NzEwNi8zZWM4NTRhNTQwMzlmOGVjOGVjZGRjODFmODg4N2I0Yi5qcGc"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 3</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://photos.enjoei.com.br/impressora-hp-ink-advantage-2700-79016899/1200xN/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8yNjI1ODU5MC80MmU4YmEyYzgwYjAyNzljZTAyNGUyOTBhODY3YTAwYy5qcGc"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 4</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div id="Moda" data-tab-content>
            <div class="row">
              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRlx5urlO5Qh3Gm-Igb4ZZW6-q0Oy9Tuy54gi397kyMORiyndM_7YieFAc-d0Mo0YLeJ1x9zpdK_kdgpHYhKwvDXSoa5CMURhzgu05M91g&usqp=CAE"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 6</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTdGHMvqb3BZlmL5Sg3DDSlMwUkwT-y41KexVb7ITGhRsQWG4D-5QaEUrcekWAv3V_2woag8uI7wxNkXIRK2tfTmkfJ4-BH3bdc2cqpSi0&usqp=CAE"
                    alt="Books" class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 7</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div id="Imóveis" data-tab-content>
            <div class="row">
              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://img.olx.com.br/images/31/318383502547797.jpg" alt="Books"
                    class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 10</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>

              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://img.olx.com.br/images/24/243323144597154.jpg" alt="Books"
                    class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 9</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>
              <div class="col-md-3">
                <figure class="product-style">
                  <img src="https://img.olx.com.br/images/27/272322027403232.jpg" alt="Books"
                    class="product-item">
                  <button type="button" class="add-to-cart"
                    data-product-tile="add-to-cart">Incluir no Carrinho</button>
                  <figcaption>
                    <h3>Produto 11</h3>
                    <p>Fornecedor</p>
                    <div class="item-price">R$ 40.00</div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div><!--inner-tabs-->
    </div>
  </div>
</section>
<!-- Fim Recomendações desapega-->

<!-- Início Conheça Nossas Variedades -->
<section id="featured-books">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header align-center">
          <h2 class="section-title">Conheça Nossas Variedades</h2>
        </div>

        <div class="product-list" data-aos="fade-up">
          <div class="row">

            <div class="col-md-3">
              <figure class="product-style">
                <img src="https://photos.enjoei.com.br/public/500x500/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8xMjI5NDc2MS82MDk1NDljZTJkMmY0ZGYwZjhhOWYzNmY4ODM1MzUwZS5qcGc"
                  alt="Books" class="product-item">
                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
                <figcaption>
                  <h3>Produto 12</h3>
                  <p>Fornecedor</p>
                  <div class="item-price">R$ 40.00</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-3">
              <figure class="product-style">
                <img src="https://photos.enjoei.com.br/public/240x240/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8yNTcyOTExOS8wZjc5MTg0YjliMmU0MGUzYTgxYmQxMWQ1M2Q4MTQwZS5qcGc"
                  alt="Books" class="product-item">
                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
                <figcaption>
                  <h3>Produto 13</h3>
                  <p>Fornecedor</p>
                  <div class="item-price">R$ 38.00</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-3">
              <figure class="product-style">
                <img src="https://photos.enjoei.com.br/public/240x240/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy8yOTQxOTIwOS9jMzcwY2NmODJhMjc4ZWZjODNiM2U5NmY2Zjg2YTlhNC5qcGc"
                  alt="Books" class="product-item">
                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
                <figcaption>
                  <h3>Produto 14</h3>
                  <p>Fornecedor</p>
                  <div class="item-price">R$ 45.00</div>
                </figcaption>
              </figure>
            </div>

            <div class="col-md-3">
              <figure class="product-style">
                <img src="https://photos.enjoei.com.br/public/240x240/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy82NTY4MTk5L2VlYzNhOWMzN2FlZTczMDQ5Njc0MWQ0MmI3MGEzZTk3LmpwZw"
                  alt="Books" class="product-item">
                <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
                <figcaption>
                  <h3>Produto 15</h3>
                  <p>Fornecedor</p>
                  <div class="item-price">R$ 35.00</div>
                </figcaption>
              </figure>
            </div>

          </div><!--ft-books-slider-->
        </div><!--grid-->


      </div><!--inner-content-->
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-wrap align-right">
          <a href="#" class="btn-accent-arrow">Ver Tudo <i
              class="icon icon-ns-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fim Conheça Nossas Variedades -->

<!-- Início Baixaram o Preço -->
<section id="special-offer" class="bookshelf">

  <div class="container">
    <div class="container-title align-center"><h2 class="section-title">Baixaram o Preço</h2></div>
    <div class="row">
      <div class="inner-content">
        <div class="product-list" data-aos="fade-up">
          <div class="grid product-grid">
            <figure class="product-style">
              <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQdhb9Oxr0_pFDOuBlGEvKoIs1ac4q_8mf4XBPBH77xsGKaPUHkVSBvyjsgz7iymYqloqgez80ro4ui3cRhwCH_p9Nio_EPocUnnuT6FpTY&usqp=CAE" alt="Books" class="product-item">
              <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
              <figcaption>
                <h3>Produto 16</h3>
                <p>Fornecedor</p>
                <div class="item-price">
                  <span class="prev-price">R$ 50.00</span>R$ 40.00
                </div>
              </figcaption>
            </figure>

            <figure class="product-style">
              <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSm1zMY6xVZZFj_P0WX6GFpDFoGJ-WTdl3Rtz7Bc8Rk1kAR_lQPUhfP_wRfHlKyn46Qw9Ko17k4F4d48tIBY06DPqRQmKkfQK1AWVlDswcg&usqp=CAE" alt="Books" class="product-item">
              <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
              <figcaption>
                <h3>Produto 17</h3>
                <p>Fornecedor</p>
                <div class="item-price">
                  <span class="prev-price">R$ 30.00</span>R$ 38.00
                </div>
              </figcaption>
            </figure>

            <figure class="product-style">
              <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRccvF3-H5CbXrfDfzvZuI3yo-0BJ28QUcQb5BypZKmnHm5D2-KDR9C9-Ge5TynivU7G3jGoqssYhJBWjZHN-Pg6O1RZKKORYKWvDBuJmOKuO1LliCQ9y_x3Q&usqp=CAE" alt="Books" class="product-item">
              <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
              <figcaption>
                <h3>Produto18</h3>
                <p>Fornecedor</p>
                <div class="item-price">
                  <span class="prev-price">R$ 35.00</span>R$ 45.00
                </div>
              </figcaption>
            </figure>

            <figure class="product-style">
              <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRTKexCrkKFJPkdZ02-82iiV8WtRxm7ahVH2n3fCgUZOKxbDOGs1cbFYcvdXp3JZ-gcVYTqNpmUJB2Ffy3bJAs5SMvJ0lIKDj9mNCdbGK4&usqp=CAE" alt="Books" class="product-item">
              <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
              <figcaption>
                <h3>Produto 19</h3>
                <p>Fornecedor</p>
                <div class="item-price">
                  <span class="prev-price">R$ 25.00</span>R$ 35.00
                </div>
              </figcaption>
            </figure>

            <figure class="product-style">
              <img src="https://img.olx.com.br/images/76/768306727939183.jpg" alt="Books" class="product-item">
              <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Incluir no Carrinho</button>
              <figcaption>
                <h3>Produto 20</h3>
                <p>Fornecedor</p>
                <div class="item-price">R$ 40.00</div>
              </figcaption>
            </figure>
          </div><!--grid-->
        </div>
      </div><!--inner-content-->
    </div>
  </div>
</section>
<!-- Fim Baixaram o Preço -->

{% endblock %}