{% extends "layouts/main.html" %} {% block content %}

<section>
  <div class="container-fluid">
    <div class="row row-cols-4">
      <div class="col container-warranty-Single-Product">
        <img class="Images-warranty" src="../../static/core/images/cartao2.png" alt="">
        <img class="Images-warranty" src="../../static/core/images/headphone2.png" alt="">
        <img class="Images-warranty" src="../../static/core/images/truck2.png" alt="">
        <img class="Images-warranty" src="../../static/core/images/hands2.png" alt="">
      </div>
      <div class="col container-img-Single-Product">
        <img src="https://m.media-amazon.com/images/I/51W6Tzbyu5L._AC_SX679_.jpg" alt="">
      </div>
      <div class="col offset-2">
        <p style="font-weight:bold; font-size: 18px; color:black">Apple notebook MacBook Air de 13 polegadas: Chip M2 da
          Apple com CPU de oito núcleos e GPU de oito
          núcleos, de 256 GB SSD - Meia-noite</p>
        <h5 class="titulos-Single-Product">Fornecedor: <span style="color:black ;">Apple</span></h5>
        <h6 class="price-Single-Product"><span style="font-size:13px; top: -1.2em; position:relative">R$</span> 7.000
        </h6>
        <h5 class="titulos-Single-Product">Descrição</h5>
        <ul>
          <li>Design superfino – O MacBook Air redesenhado está mais portátil do que nunca e pesa só 1,24 kg. É um
            notebook cheio de possibilidades para você trabalhar, jogar ou criar o que quiser, em qualquer lugar.
          </li>
        </ul>
        <button class="Adicionar-Carrinho">Adicionar ao Carrinho</button>
      </div>
      
    </div>
  </div>
</section>
{% endblock %}